.home_page {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
}

.section {
    height: 90vh;
    display: flex;
    scroll-snap-align: start;
}

.home {
    justify-content: center;
    align-items: center;
}

.centered-container {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh; /* Ensure it takes full viewport height */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.container {
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh; /* Adjust the gap between the text and image */
}

@media (max-width: 650px) {
    .container {
        padding: 0vh;
        flex-direction: column; /* Stack items vertically on small screens */
        justify-content: center; /* Center items horizontally in the column layout */
        align-items: center; /* Center items horizontally in the column layout */
        gap: 0%; /* Adjust the gap between the text and image for smaller screens */
    }
    .home_about {
        font-size: large;
    }

}